button{
    display: block;
    width:150px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
     text-align: center;
     color: white;
}
table{
    border-color: indianred;
    border-radius: 5x;
    
}
body {
  background-image: url("https://media0.giphy.com/media/26tn33aiTi1jkl6H6/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

 #heading1{
    text-align:left;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:xx-large;
    background-color: rgba(91, 139, 127, 0.578);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 50%;
    border-radius: 5%;
 }
 #sp1{
    color: white;
    text-align: left;
    font-size: x-large;
    background-color: rgba(91, 139, 127, 0.578);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;
    padding-bottom: 20px;
 }
 #dropdwn1{
    background-color: rgb(35, 44, 24);
    color: rgb(113, 212, 217);
    font-size: 55%;
    padding-top: 10px;
    padding-bottom: 10px;
    
    border-radius: 5%;
    
 }
 
 #op2{
   background-color: rgb(150, 119, 119);
   color: white;
 }
 #op3{
   background-color: rgb(163, 176, 123);
   color: white;
 }
 #op4{
   background-color: rgba(165, 148, 222, 0.749);
   color: white;
 }
 #op5{
   background-color: rgba(148, 222, 211, 0.888);
   color: white;
 }
 #op6{
   background-color: rgba(226, 159, 191, 0.833);
   color: white;
 }
 #op7{
   background-color: rgba(132, 95, 95, 0.749);
   color: white;
 }
  